<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
        <header id="Header" class="header-container">
          <h1>Bug Crushers Login Page</h1>
          <nav class="navbar-container">
            <nav class="nav-links">
              <li><a href="index.html">Home</a></li>
              <li><a href="https://www.heart.org">American Heart Association</a></li>
              <li><a href="https://www.diabetes.org">American Diabetes Association</a></li>
              <li><a href="https://americawalks.org/">America Walks</a></li>
            </nav>
          </nav>
      </header>

    <section class="success-tips">
      <h2 class="title";><p>Tips for Success</p></h2>
      <article><p><h3>Change your shoes</h3>
      <ul><p>
        <li>Avoid walking in shoes that create tension on your joints</li>
        <li>Don't wear shoes that are too tight or loose</li>
        <li>Don't forget to wear clean socks!</li>
      </p>
    </ul>
  </p>
</article>

      <articles><p><h3>Stay Hydrated</h3>
      <ul>
        <li>Avoid drinking alcohol and soda before or after your walk.</li>
        <li>Drink plenty of water throughout the day</li>
        <li>Avoid drinking too much water before bed</li>
      </ul></p></article>

      <article><p><h3>Wear the right clothes</h3></p>
      <ul>
        <li>Don't wear clothes that are too tight or loose</li>
        <li>Don't wear clothes that restrict airflow or movement</li>
        <li>Consider bringing a change of comfortable or clean clothes</li>
      </ul>
      <p><h3></h3></p></article>
   
    </section>

    <div class="login-container">
      <h2>Bug Crusher User Login</h2>
      <form action="INSERT LOGIN ROUTE" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Login">
      </form>
    </div>
    
  </body>
</html>
