<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>Leaderboard</h1>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <!-- Leaderboard data will be added here -->
        </tbody>
      </table>

      <div class="container-wrap">
        <section id="leaderboard">
            <nav class="ladder-nav">
                <div class="ladder-title">
                <h1>Standings</h1>
                </div>
                <div class="ladder-search">
                    <input type="text" id="search-leaderboard" class="live-search-box" placeholder="Search Team, Player..." />
                </div>
            </nav>
            <table id="rankings" class="leaderboard-results" width="100%">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Country</th>
                        <th>P1</th>
                        <th>P2</th>
              <th>Games Played</th>
                        <th>PTS</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Load SCRIMcom Leaderboard Ranings -->
                </tbody>
            </table>
        </section>

    </main>
    <script src="app.js"></script>
  </body>
</html>


