<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Lilita+One&family=Orbitron:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
</head>
<section id="login">
  <nav class="login-nav">
    <div class="logo">
      <img id="logo" src="/images/logo.png">
    </div>
    <div class="login-title">
        <h1 id = "takeSomeSteps">...take some steps</h1>
    </div>
    {{#unless noHeaders}}
      <div id="menuitems" class="navbar justify-content-end">
          <a class="nav-link" id="login" href="/login">{{#if loggedInFeatures}}User Profile{{else}}Login{{/if}}</a>
          {{#if loggedInFeatures}}
          <div class = "linebreak"></div>
          <a class="nav-link" id="logout" href="/logout">Logout</a>
          {{/if}}
          <div class = "linebreak"></div>
          <a class="nav-link" href="/leaders">Leaders</a>
      </div>
    {{/unless}}
  </nav>
</section>
<body>
  <!--Insert any other main html-->
  <div>
    {{{body}}}
  </div>

<footer class="text-left text-lg-start">
  <div class="container p-4" id="footer-row">
    <div class="row">
      <div id = "footerDescriptionContainer"class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 id = "footerTitle" class="text-uppercase">Bug Crusher</h5>
        <p id = "footerDescription">
          Bug Crusher is a web application that runs monthly walking challenges
          for anyone who wants to participate. Let's get some steps...
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 id = "footerTitle" class="text-uppercase">Bug Socials</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.instagram.com/bugcrusher_/" class="text-dark">Instagram</a>
          </li>
          <li>
            <a href="https://twitter.com/BugCrusher_" class="text-dark">Twitter</a>
          </li>
          <li>
            <a href="https://www.pinterest.com/BugCrusher_/" class="text-dark">Pinterest</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 id = "footerTitle" class="text-uppercase ">Health</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.heart.org" class="text-dark">American Heart Association</a>
          </li>
          <li>
            <a href="https://www.diabetes.org" class="text-dark">American Diabetes Association</a>
          </li>
          <li>
            <a href="https://americawalks.org/" class="text-dark">America Walks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: #5055CB;">
    © 2023 The DeBuggers
  </div>
</footer>
</body> 
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs/plugin/duration.js"></script>
  <script>
      dayjs.extend(window.dayjs_plugin_duration);
  </script>
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="/js/leaders.js"></script>
  <script src="/js/userProfile.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/register.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>