<div>
  <section id="leaderboard">
      <nav class="ladder-nav">
          <div class="ladder-title">
            <h1>TOP TEN LEADERBOARD</h1>
            <ion-icon name="bug" id = "bug"></ion-icon>
          </div>
          <div class="ladder-search">
              <input type="text" id="search-leaderboard" class="live-search-box" placeholder="Search for a User by Username" />
          </div>
      </nav>
      <table id="rankings" class="leaderboard-results" width="100%">
          <thead>
              <tr>
                  <th>Rank</th>
                  <th>Name</th>
                  <th>Step Count</th> <!--
                  <th>P1</th>
                  <th>P2</th>
                  <th>Games Played</th>
                  <th>PTS</th> -->
              </tr>
          </thead>
          <tbody id = "tableBody">
              <!--Leader-details goes here -->
              {{#each leaders}}
                {{>leader-details}} <!-- set rank equal to the leaderCounter (current rank number) -->
              {{/each}}
          </tbody>
      </table>
  </section>
</div>