<div class="container-wrap2" >
  <div class="success-tips">
    <h2 class="title">Welcome!</h2>
    <article>
      <p class="tip">Choosing a Monthly Challenge</p>
      <p id = "description">You've taken the first step to becoming healthier.  
        Now, take the next step and join a challenge.  
        You can join a challenge by signing up or logging in. 
        Once logged in, you can click to join any of the challenges currently 
        running. Aim to successfully complete the challenge before the month's end!
        <br><br>
        Each challenge will specify a number of steps you need to reach daily and 
        enter into your profile. We make it easy for you to manage reaching you goal; just keep stepping!
      </p>
    </article>
    <article>
      <p class="tip">Question?</p>
      <p id = "description">We're here for you.  If you have any questions please feel free to contact us at 
      through one of our social media channels linked below. 
      </p>
    </article>
    <h2 class="title">Success Tips: </h2>
    <article>
      <p class="tip">Change Your Shoes </p>
      <ul>
          <li id = "description">Avoid walking in shoes that create tension on your joints</li>
          <li id = "description">Don't wear shoes that are too tight or loose</li>
          <li id = "description">Don't forget to wear clean socks!</li>
      </ul>
    </article>
    <article>
      <p class="tip">Stay Hydrated</p>
      <ul>
        <li id = "description">Avoid drinking alcohol and soda before or after your walk</li>
        <li id = "description">Drink plenty of water throughout the day</li>
        <li id = "description">Avoid drinking too much water before bed</li>
      </ul>
    </article>
    <article>
      <p class="tip">Wear the right clothes</p>
      <ul>
        <li id = "description">Don't wear clothes that are too tight or loose</li>
        <li id = "description">Don't wear clothes that restrict airflow or movement</li>
        <li id = "description">Consider bringing a change of comfortable or clean clothes</li>
      </ul>
    </article>
  </div>
  <div class="login-row" id="login-row" style = "margin-bottom: 80px;">
    <div id="loginCard" class="login-card">
      <h2 id="loginCardTitle" class="page-title">Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label class = "loginCardHeaders" for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login"/>
        </div>
        <div class="form-group">
          <label class = "loginCardHeaders" for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
    <div id="signupCard" class="login-card">
      <h2 class="page-title">Signup</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label class = "loginCardHeaders" for="email-signup">Email:</label>
          <input class="form-input" type="text2" id="email-signup" />
        </div>
        <div class="form-group">
          <label class = "loginCardHeaders" for="password-signup">Password:</label>
          <input class="form-input" type="password2" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</div>