<div class="container-wrap">
  <div class="success-tips">
    <h2 class="title">Welcome!</h2>
    <article>
      <p class="tip">Take a Challenge</p>
      <p>You've taken the first step to becoming healthier.  
        Now, take the next step and join a challenge.  
        You can join a challenge by singing up or loging in. 
        Once logged in you can click to join any of the challenges currently 
        running. 
        <br>
        Each challenge will specify a number of steps you need to complete daily and 
        enter into your profile.    
      </p>
    </article>
    <article>
      <p class="tip">Question?</p>
      <p>We're here for you.  If you have any questions please feel free to contact us at 
      through one of our social media channels linked below. 
      </p>
    </article>
    <h2 class="title">Success Tips: </h2>
    <article>
      <p class="tip">Change Your Shoes </p>
      <ul>
          <li>Avoid walking in shoes that create tension on your joints</li>
          <li>Don't wear shoes that are too tight or loose</li>
          <li>Don't forget to wear clean socks!</li>
      </ul>
    </article>
    <article>
      <p class="tip">Stay Hydrated</p>
      <ul>
        <li>Avoid drinking alcohol and soda before or after your walk.</li>
        <li>Drink plenty of water throughout the day</li>
        <li>Avoid drinking too much water before bed</li>
      </ul>
    </article>
    <article>
      <p class="tip">Wear the right clothes</p>
      <ul>
        <li>Don't wear clothes that are too tight or loose</li>
        <li>Don't wear clothes that restrict airflow or movement</li>
        <li>Consider bringing a change of comfortable or clean clothes</li>
      </ul>
    </article>
  </div>
  <div class="login-row" id="login-row">
    <div class="login-card" id="login-card">
      <h2 class="page-title" id="page-title">Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login"/>
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
    <div class="login-card" id="login-card">
      <h2 class="page-title">Signup</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label for="username-signup">Username:</label>
          <input class="form-input" type="text2" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">Email:</label>
          <input class="form-input" type="text2" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label>
          <input class="form-input" type="password2" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</div>