
<div id = "challengesSectionHeader">Choose a Challenge</div>
<div id = "challengesSection">
    <div id = "challengeTwo" class = "challengeTwo">
      <div id = "challengeTwoHeader">Challenge Two</div>
      <img id = "starOne" src = "/images/starTwo.png">
      <div id = "challengeOneFooter">200,000 Steps</div>
    </div>
    <div id = "challengeOne" class = "challengeOne">
      <div id = "challengeOneHeader">Challenge One</div>
      <img id = "starTwo" src = "/images/starOne.png">
      <div id = "challengeTwoFooter">300,000 Steps</div>
    </div>
    <div id = "challengeThree" class = "challengeThree">
      <div id = "challengeThreeHeader">Challenge Three</div>
      <img id = "starThree" src = "/images/starThree.png">
      <div id = "challengeThreeFooter">150,000 Steps</div>
  </div>
</div>
<div id = "usernameRegister">
  <label id = "usernameRegisterHeader">Username:</label>
  <input id="usernameRegisterField" maxlength="30" class="form-input" type="text2"/>
</div>
<div id = "usernameRegisterMaxLength">Max Length: 30 Characters</div>
<div id = 'registerButtonContainer'>
  <button id = "registerButton" type="submit" class="btn btn-primary">Register Profile</button>
</div>
